@import '../../sass/_settings.scss';
@import './cv-settings.scss';
@import './_cv-headings.scss';

// @import '../../sass/skills/_skills.scss';

$backgroundColor: #fff;
$sidebarColor: darken($backgroundColor, 4%);
$gutters: 8px;
$text-shadow: 0 1px 2px rgba(0,0,0,.2);

body {
  margin: 0 auto !important;
  background-color: #fff;
  line-height: 25px;
}

.date {
  margin-top: -5px;
  color: $color-light;
}

ol {
  list-style: none;
  padding: 0;

  ul > li {
    line-height: 1.5;
  }

  ul > li:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.l-content > section {
  margin-bottom: $gutters *6;
}

.l-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

/**
 * General styles for blocks
 */
.l-container {
  max-width: 75rem;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

// A4 sizes https://stackoverflow.com/questions/3341485/how-to-make-a-html-page-in-a4-paper-size-pages
.l-main {
  height: 384mm; width: 297mm;
  margin: 0 auto;
  background: $backgroundColor;
  overflow: hidden;
}
.l-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.l-content {
  // prend la place restante
  flex-basis: 0;
  flex-grow: 1;
}

.l-sidebar {
  flex-basis: 30%;
  background-color: $sidebarColor;
}


.l-spaces {
  padding: 20px 40px;
}

.title {
  text-align: center;
  padding-bottom: 0.8em;
  font-weight: 700;
  font-size: 2.5rem!important;
}

.underlined {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 5px;
    width: 100%;
    background-color: #30a7b7;
    background-image: linear-gradient(147deg, #30a7b7 0%, hsl(157, 58%, 45%) 74%);

  }
}

/**
 * PRO SKILLS
 */

.pro-skills-wrapper {
  // justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -8px;
}

.skills-box {
  margin-left: 8px;
  min-width: 80px;

  position: relative;
  text-align: center;
  color: #fff;
  z-index: 1;
  overflow: hidden;
}

.skills-box-title {
  overflow: hidden;
  padding: 10px 15px;
  margin: 0;
  margin-top: 16px;
  font-size: 1.1rem;
  font-weight: 700;
  text-shadow: $text-shadow;
}

$title-icon-size: 24px;

.l-subcontent {
  padding-left: $gutters + $title-icon-size;
  padding-top: $gutters;
  padding-bottom: $gutters;
}

.section-title {
  font-size: 24px;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    width: 24px;
    height: 24px;
    background-size: 24px;
    background-repeat: no-repeat;
    margin-right: $gutters;
  }
}

.section-subtitle {
  margin-left: $gutters + $title-icon-size;
  font-size: 17px;
  margin-top: -4px;
  margin-bottom: 0;
  color: $dark-color;
}

/**
 * Personality
 */

.personality-box-progress {
  width: 100%;
  height: 10px;
  background-color: darken($sidebarColor, 7%);
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    width: 100%;

    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;

    transform-origin: 0;
    background-image: linear-gradient(147deg, hsl(187, 58%, 45%) 0%, hsl(175, 58%, 45%) 70%)
  }
}

.personality-box-title {
  margin: 0;
  margin-bottom: $gutters;
}
