/**
 * title with classes, ex :
 * h1 .h1
 */
 $h1Size: 2.5rem;
 $h2Size: 2rem;
 $h3Size: 1.75rem;
 $h4Size: 1.5rem;
 $h5Size: 1.25rem;
 $h6Size: 1rem;
 
 /**
  * Displays, ex: .display1
  */
 
 $display1Size: 3.7rem;
 $display2Size: 3.4rem;
 $display3Size: 3.1rem;
 $display4Size: 2.8rem;