<div class="l-container">

  <section class="about l-section">
    <h1 class="title">À propos de moi</h1>
    <div class="about-wrapper">

      <div class="about-personality about-box l-section">
        <h2>Ma personnalité</h2>
        <ul>
          <li><span>Hobbies : </span>la branlette</li>
          <li>
            <span>Séries tv préférées : </span>
            <a href="###">Silicon Valley</a> 
            <a href="###">Silicon Valley</a> 
            <a href="###">Silicon Valley</a> 
          </li>
          <li>
            <span>Playlist de travail : </span>
            <a href="###">Silicon Valley</a> 
            <a href="###">Silicon Valley</a>
            <a href="###">Silicon Valley</a>
          </li>
        </ul>

      </div>
      <div class="about-story about-box l-section">
        <h2>Mon histoire</h2>
        <p class="about-story-p">
          Je m'appelle Maxime Moreau, j'ai 17 ans et je suis étudiant en 1ère année de DUT Informatique.
          Depuis l'âge de 14 ans je m'intéresse au développement web. Depuis cet âge, je jongle entre mes cours scolaires et mon apprentissage autodidacte.
          Pendant que la plupart des adolescents s'amusaient sur des jeux vidéo, je m'amusais à apprendre comment créer un site web.
          Je ne cesse de développer et de m'autoformer, grâce à ce merveilleux outil qu'est Internet.
          Voici quelques sites où je me suis formé :
      </p>
      </div>
    </div>
  </section>

</div>