<!-- https://site.uplabs.com/posts/protonmail-theme-full-page -->

<div class="topbar-background"></div>
<header class="topbar">

  <nav class="topbar-navigation" role="navigation">

    <ul class="topbar-menu">
      <li><a href="##" class="topbar-link active">Accueil</a></li>
      <li>
        <a class="topbar-link" href="">Présentation</a>
      </li>
      <li>
        <a class="topbar-link" href="">Compétences</a>
      </li>
      <li>
        <a class="topbar-link" href="">Expériences</a>
      </li>
      <li>
        <a class="topbar-link" href="">Créations</a>
      </li>
    </ul>

  </nav>
</header>