<!-- https://site.uplabs.com/posts/protonmail-theme-full-page -->

<div class="topbar-background"></div>
<header class="topbar" id="topbar">

  <nav class="topbar-navigation" role="navigation">

    <ul class="topbar-menu">
      <li><a href="#home" class="topbar-link active">Accueil</a></li>
      <li>
        <a class="topbar-link" href="#about">Présentation</a>
      </li>
      <li>
        <a class="topbar-link" href="#skills">Compétences</a>
      </li>
      <li>
        <a class="topbar-link" href="#creations">Créations</a>
      </li>
      <li>
        <a class="topbar-link" href="#timeline">Formation</a>
      </li>
    </ul>

  </nav>
</header>