<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{ asset('main.css') }}>
    {% block head %}
    {% endblock %}
    <title>Maxime Moreau</title>
  </head>
  <body>

  {% include './icons.svg' %}

    {% block content %}
    {% endblock content %}
    
    <script src="snapsvg.js" charset="utf-8"></script>
    <script src="{{ asset('main.js') }}" charset="utf-8"></script>
  </body>
</html>