{% import 'macros/timeline.twig' as helpers %}

  <h1 class="title l-wrapper">Parcours scolaire</h1>
  <div class="l-container timeline-container l-wrapper" id="timeline">

    <div class="timeline-wrapper">

        <div class="timeline">
            {{ helpers.timeline(
                'Obtention du baccalauréat',
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro nemo, natus eius quod omnis rerum possimus saepe illum incidunt minima architecto tempora facere enim quasi ab inventore quas explicabo, aspernatur.'
                )
            }}

            {{ helpers.timeline(
                'Entrée 1ère année DUT Informatique',
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro nemo, natus eius quod omnis rerum possimus saepe illum incidunt minima architecto tempora facere enim quasi ab inventore quas explicabo, aspernatur.'
                )
            }}
        </div>
    
    </div>


</div>