{% import 'macros/timeline.twig' as helpers %}

  <h1 class="title l-wrapper">Parcours scolaire</h1>
  <div class="l-container timeline-container l-wrapper" id="timeline">

    <div class="timeline-wrapper">

        <div class="timeline">

            {{ helpers.timeline(
                'Entrée 1ère année DUT Informatique',
                "La formation autodidacte alliée à une formation post-bac est la meilleure option. C'est pour cela que j'ai choisi de poursuivre mes études à l'IUT du Littoral Côte d'Opale de Calais en intégrant le DUT Informatique.",
                '2016'
                )
            }}

            {{ helpers.timeline(
                'Obtention du baccalauréat',
                "Baccalauréat technologique STI2D (Sciences et Technologies de l'Industrie et du Développement Durable), spécialité SIN (Système d'Information et Numérique) <strong> mention bien </strong>. <br />À travers lequel j'ai acquis des connaissances générales sur la technologie car il n'y a pas que le web dans la vie.",
                '2013 - 2016'
                )
            }}
        </div>
    
    </div>


</div>