@import "responsive/mixinResponsive";
@import "variables";

$hero_height: 500px;
$hero_content_height: 130px;

.hero {
  display: inline-block;
  width: 100%;
  position: relative;
  //padding-top: (($hero_height - $hero_content_height) - $header_h) / 2;
  //padding-bottom: (($hero_height - $hero_content_height) - $header_h) / 2;
  background: url("~img/bg_header2.jpg") no-repeat center;
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.35);
}

@include emix-breakpoint(M) {
  .hero {
    height: 60%;
  }
  .hero_content {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
  }
}

.hero_content {
  animation-delay: 0.2s;
}

.hero_welcome {
  padding-top: 15px;
  padding-bottom: 15px;
  color: $hero_color;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);

  h1 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.2em;
  }

  h1, p {
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
  }

}

.hero_social {
  padding-top: 15px;
  clear: both; // Pour "nettoyer" le float left du hero content
  text-align: center;

  .box-icon {
    display: inline-block;
    padding-right: 7px;
    padding-left: 7px;
    a {
      color: inherit;
    }
  }
}

/* RESPONSIVE */

@media only screen and (max-width: $breakPoint) {
  .hero {
    padding-top: $header_h; // Pour centrer verticalement
    padding-bottom: $header_h;
  } 
}

@include emix-breakpoint(S) {
  .hero_content { @include span(10); @include push(1); }
}

@include emix-breakpoint(M) {
  .hero_content { @include span(8); @include push(2); }
}
