@import "variables";
@import "~susy";
@import "responsive/mixinResponsive";

.presentation-picture,
.presentation-profile {
  display: inline-block;
}

.presentation {
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    margin-top: 10px;
    list-style: none;
    &::after {
      /* little border separation */
      display: block;
      height: 1px;
      position: relative;
      top: 5px;
      content: '';
      background-color: #eee;
    }
  }
  li:first-child {
    margin-top: 0;
  }
  span {
    font-weight: bold;
    color: $accent_color;
  }
  a {
    display: inline-block;
    margin-left: 10px;
    color: inherit;
    text-decoration: none;
    border-color: transparent;
    border-bottom: 1px solid;
    transition: 0.3s border-color;
    &:hover {
      border-color: $color;
    }
  }
}

.presentation-picture {
  height: 250px;
  background-image: url('~img/me.jpg');
  background-size: cover;
}

/* Responsive */
.presentation-profile {
  @include span(6);
}

.presentation-picture {
  overflow: hidden;

  @include span(6);
}

.presentation, .presentation-text {
  @include span(12);
}

.presentation-text {
  margin-top: 20px;
}

@include emix-breakpoint(S) {
  .presentation-text {
    @include span(12);
  }
  .presentation {
    @include span(12);
  }
  .presentation-picture {
    @include span(4);
  }
  .presentation-profile {
    @include span(8);
  }
}

@include emix-breakpoint(M) {
  .presentation-text {
    @include span(6);
  }
  .presentation {
    @include span(6);
  }
}

@include emix-breakpoint(L) {
  .presentation-text {
    @include span(6);
  }
  .presentation {
    @include span(6);
  }
}
