@import "_susy";
@import "../components/header/header";
@import "_app";
@import "../components/form/form";

@mixin box-title($t_color : ""){
	@if $t_color == '' {
	  $t_color:$title_color;
	}
	text-align: center;
	color: $t_color;
	padding-bottom: 30px;
}

/**
* TOOLTIP
*/
@import "tooltip";

/**
* PRESENTATION
*/

@import "presentation";

/**
* CAREER
*/

@import "../components/timeline/timeline";

@import "../components/creation/creations";

/**
* SKILLS
**/

@import "../components/skill/skills";

/**
* CONTACT
**/

@import "./home/_contact";

/**
* FOOTER
**/

@import "footer";
