.l-footer {
  background-color: $footer_background-color;
  * {
    color: $footer_p_color;
  }

  address {
    font-style: inherit;
  }

  .pre-title {
    text-transform: uppercase;
    
    // add a bit of letter-spacing when using uppercase.
    letter-spacing: 2px;
    text-align: center;
    font-size: .875rem;
    color: $footer_p_light_color;
  }

}

// 2 profondeur pour passer au dessus du style de l-container :-)
.l-footer .l-footer-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.l-footer-box-title {
  color: $footer_title_color;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: .5em;
}

.l-footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // text-align: center;
}

.l-footer-box {
  padding-left: 10px;
  padding-right: 10px;
  flex-basis: 100%;
}

@include emix-breakpoint (620px) {
  .l-footer-box {
    flex-basis: 33.333%;
  }
}


.l-footer-me a, .l-footer-dev a, .l-footer-copyright a {
  color: hsl(220, 21%, 59%);
  font-weight: 700;
}

.l-footer-social {
  ul {
    padding: 0; margin: 0;
  }
  li {
    list-style: none;
    margin-top: 15px;
  }
}

.l-footer-dev {
  p {
    text-align: justify;
  }
}

.l-footer-copyright {
  background-color: $footer_background-color2;
  padding: 20px 0;
  text-align: center;
  p {
    margin: 0;
  }
}
