footer#footer.footer
    .site-container.fixed_bug
        p.footer__quote
            | Souvent je reçois cette question : 
            br
            | Comment tu as eu cette passion si jeune ?
            br
            | Je réponds simplement : "OpenClassrooms".
        p.footer__quote
            | Tu veux en savoir plus sur mon parcours? 
            br
            | Mon histoire est disponible sur le blog d'OpenClassrooms.
        .footer__quote#citation
            <svg class="icon icon-quotes-left"><use xlink:href="#icon-quotes-left"></use></svg>
            p Tout ce que je sais, c'est que je ne sais rien
            span.author Socrate
