extends ./layout

block content
	.container-allheight
		include home/hero
		include home/presentation
	include home/parcours
	include home/skill
	include home/contact

block script
	// script(src='./js/form.js')