mixin header-link(name, href)
    li.header__nav__li.first
        a.header__nav__link(href="#" + href)=name

doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        title Maxime |
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        //link(rel='stylesheet', href='./css/index.css')
        //link(rel='stylesheet', href='../css/fonts.css')
    include svg/svg
    body
        #fake.fake
        header.header#header
            a#header__icon.header__icon(href='#')
            a.header__title(href='#') Maxime
            // Pour le name
            nav.header__nav
              ul.header__nav__ul
                +header-link('Accueil', 'home')
                +header-link('Présentation', 'presentation')
                +header-link('Compétences', 'skills')
                +header-link('Créations', 'creations')
                +header-link('Contact', 'contact')

        .scroll-resp
            .site-cache
            block content
            include ./footer
    block script