@import '~susy';
@import "../../../node_modules/breakpoint-sass/stylesheets/breakpoint";

$small: "768px";
$medium: "992px";
$large: "1200px";

$susy: (
        container: 960px,
        columns: 12,
        gutters: 15px/100px,
        gutter-position: inside-static,
        column-width: 100px,
);
$desktop: (
        container: 960px,
        columns: 12,
        gutters: 30px/100px,
        gutter-position: inside-static,
        column-width: 100px,
);

@mixin emix-breakpoint ($dimension) {
  @if $dimension == S {
    @include susy-breakpoint($small, $susy) {
      @content;
    }
    } @else if ($dimension == M) {
      @include susy-breakpoint($medium, $desktop) {
        @content;
    }
  } @else if ($dimension == L) {
    @include susy-breakpoint($large, $desktop) {
      @content;
    }
  }
}
