@import '~susy';
@import "../../sass/_variables";
@import "../../sass/responsive/mixinResponsive";

.grid div {
  color: #333;
}

.grid {
  figure {
    height: 310px;
  }
}

#boilerplate-section a {
  display: inline-block;
  width: 120px;
  height: 30px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
  color: #333;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
}

.link-webpack {
  margin-left: 10px;
}

section.grid {
  max-width: 300px!important;

  @include span(4);
}

@include emix-breakpoint(S) {
  .grid figure {
    height: 400px;
  }
}

@include emix-breakpoint(M) {
  .grid figure {
    height: 450px;
  }
}

@include emix-breakpoint(L) {
  .grid {
    transform: translateX(50%);
  }
}


.grid figure {
  position: relative;
  margin: 5px;
  overflow: hidden;
  background: #fff;
}

#figure-boilerplate img {
  transform: translateY(50%);
}

.grid figure img {
  display: block;
  width: 100%;
  position: relative;
  filter: grayscale(1);
  // opacity: 0.7;
  transition: filter 0.3s;
}

.grid figcaption {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 11;
  padding: 10px;
  text-align: center;
}

.grid svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px; /* fixes rendering issue in FF */
  z-index: 10;
}

.grid svg path {
  fill: #fff;
}


.grid figcaption h2 {
  margin: 0 0 20px 0;
  font-size: 130%;
  font-weight: 300;
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 0.3s;
}

.grid figcaption p {
  padding: 0 20px;
  font-weight: 300;
  color: #aaa;
  transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption h2,
.grid figcaption p {
  transform: translateY(50px);
}


.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
  backface-visibility: hidden;
}

/* Animations */

.grid > div:hover {
  figure img {
    filter: grayscale(0);
  }
  figcaption h2,
  figcaption p {
    transform: translateY(0);
  }
  figcaption p {
    opacity: 0;
  }
  figure button {
    transform: translateY(0);
  }
}

.grid figure button {
  width: 100%;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #fff;
  border: none;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(100%);
}

/* Content */

.cd-project-content {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  padding-top: 30px;
  color: #fff;
  background: $background_color-blue;
  transform: translateY(100%);
  section {
    display: inline-block; /* clearfix */
    position: absolute;
    opacity: 0;
    p {
      margin-top: 20px;
    }
  }
  section.visible {
    opacity: 1;
  }
  .close {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 1;
    background: transparent;
    border: none;
    svg {
      fill: #fff;
    }
  }
}

.cd-project-content.show {
  transform: translateY(0);
}

.cd-project-content section .gallery {
  display: inline-block;
  .gallery-picture {
    padding-top: 20px;

    @include span(4);
    img {
      width: 100%;
    }
  }
}
