$percents : (
  ten: 0.1,
  twenty: 0.2,
  thirty: 0.3,
  forty: 0.4,
  fifty: 0.5,
  sixty: 0.6,
  seventy: 0.7,
  eighty: 0.8,
  ninety: 0.9,
  full: 1
);

$skills : (
  css: (background-color: #1572B6, border-color: #1572B6),
  js: (background-color: #ebc217, border-color: #ebc217),
  php: (background-color: #6082bb, border-color: #6082bb),
  laravel: (background-color: #e74430, border-color: #e74430),
  java: (background-color: #EA2D2E, border-color: #EA2D2E),
  c: (background-color: #03599C, border-color: #03599C),
  pgsql: (background-color: #336791, border-color: #336791),
  mongodb: (background-color: #4FAA41, border-color: #4FAA41),
  linux: (background-color: #F5C021, border-color: #F5C021),
  redis: (background-color: #D82C20, border-color: #D82C20),
  ngnix: (background-color: #009900, border-color: #009900),
  vuejs: (background-color: #4fc08d),
  fp: (background-color: #5881d8),
  webpack: (background-color: #8cc9e8),
);
