@import "./_skills-responsive.scss";

.skills-section .icon {
  width: 65%;
  height: 150px;
}

.skills-section .icon.icon-php {
  width: 100%;
}

.skills-language {
  display: flex;
}

.skills-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-box-logo {
  background-color: transparent!important;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
}

.skills-box-title {
  margin: 0;
  font-size: 24px;
  // font-size: 1.5em;
  padding-bottom: 10px;
  padding-top: 10px;
}

.skill-box-description {
  text-align: center;
}
