.creation-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.creations-box {
  flex-basis: 100%;
  max-width: 400px;
}

@include emix-breakpoint (S) {
  .creations-box {
    flex-basis: 50%;
    padding: 0 20px;
  }
}

@include emix-breakpoint (M) {
  .creations-box {
    flex-basis: 33%;
  }
}