{% extends 'cv/cv-layout.twig' %}

{# include cv.css in header and cv.js at the end of the body#}
{% set assets = ['cv'] %}

{# {% set isForPapper = true %} #}

{#
https://myfrenchcity.com/edition-nationale/vie-pratique-usa/travailler-aux-usa/cv-americain-faire-et-ne-pas-faire/
il faut rédiger les expériences !

http://www.studyrama-emploi.com/home_article.php?id=1448
#}

{% set title = "Full Stack <span class='underlined'>web developer</span>" %}

{% block content %}
<div class="l-main">

    <div class="l-wrapper">
        <div class="l-content l-spaces">

            <h1 class="title">{{ title | raw }}</h1>

            {% include 'cv/en/xp.twig' %}
            {% include 'cv/en/skills.twig' %}
            {% include 'cv/en/education.twig' %}
            {% include 'cv/en/community.twig' %}
        </div>

        {% include 'cv/en/sidebar.twig' %}

    </div>
</div>
{% endblock content %}
