<div class="sidebar-action l-mt5">
    <ul>
        <li><a href="https://maxime-moreau.fr">
            Site internet
            {% if isForPapper %}
                (maxime-moreau.fr)
            {% endif %}
        </a></li>
        <li><a href="https://github.com/EmixMaxime">
            Github
            {% if isForPapper %}
                 (EmixMaxime)
            {% endif %}
        </a></li>
        <li><a href="https://www.linkedin.com/in/moreau-maxime/">
            Linkedin
            {% if isForPapper %}
                (maxime-moreau)
            {% endif %}
        </a></li>
        <li><a href="https://mxteaches.me">mxteaches.me</a></li>
    </ul>
</div>
