{% import 'cv/macros.twig' as helpers %}

<div class="l-sidebar l-spaces">
	<div class="l-mt3">
		<div class="sidebar-section sidebar-contact">
			<h2 class="l-mt1 sidebar-title">Maxime moreau</h2>
			<p><span class="strong">Objetive</span>: front-end and lead developer.</p>
			<p>contact@maxime-moreau.fr</p>
			<p>+33 6.19.01.59.88</p>
		</div>

		<div class="sidebar-action sidebar-skill">
			<ul>
				<li><a href="https://github.com/EmixMaxime">Github</a></li>
				<li><a href="https://maxime-moreau.fr">Site internet</a></li>
				<li><a href="https://www.linkedin.com/in/moreau-maxime/">linkedin</a></li>
				<li><a href="https://mxteaches.me">mxteachesme</a></li>
			</ul>
		</div>

		<div class="sidebar-section sidebar-skill">
			<h2 class="l-mt6">titre à trouver</h2>
			{{ helpers.personalityBox('Communication', 'cm', 'seventy') }}
			{{ helpers.personalityBox('Organisation', 'cm', 'eighty') }}
			{{ helpers.personalityBox('Détermination', 'cm', 'eighty') }}
			{{ helpers.personalityBox('Curieux', 'curious', 'ninety') }}
		</div>

		<div class="sidebar-section sidebar-languages">
			<h2 class="l-mt6">Langues</h2>
			<p>Français</p>
			<p>Anglais</p>
		</div>

	</div>
</div>
