{% import 'cv/macros.twig' as helpers %}

<div class="l-sidebar l-spaces">
	<div class="l-mt3">
		<div class="sidebar-section sidebar-contact">
			<p class="l-mt1 h3">Maxime moreau</p>
			<ul>
				<li>contact@maxime-moreau.fr</li>
				<li>+33 6.19.01.59.88</li>
			</ul>
		</div>

		<div class="sidebar-action sidebar-skill">
			<ul>
				<li><a href="https://maxime-moreau.fr">Site internet</a></li>
				<li><a href="https://github.com/EmixMaxime">Github</a></li>
				<li><a href="https://www.linkedin.com/in/moreau-maxime/">Linkedin</a></li>
				<li><a href="https://mxteaches.me">mxteachesme</a></li>
			</ul>
		</div>

		<div class="sidebar-section sidebar-skill">
			<p class="h5 l-mt6">titre à trouver</p>
			{{ helpers.personalityBox('Communication', 'cm', 'seventy') }}
			{{ helpers.personalityBox('Persévérance', 'cm', 'eighty') }}
			{{ helpers.personalityBox('Curieux', 'curious', 'ninety') }}
		</div>

		<div class="sidebar-section sidebar-languages">
			<p class="h5 l-mt6">Langues</p>
			<p class="flex items-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 640 480"><g fill-rule="evenodd" stroke-width="1pt"><path fill="#fff" d="M0 0h640v480H0z"/><path fill="#00267f" d="M0 0h213.337v480H0z"/><path fill="#f31830" d="M426.662 0H640v480H426.662z"/></g></svg>
				<span class="l-ml2">Français</span>
			</p>
			<p class="flex items-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 640 480"><defs><clipPath id="a"><path fill-opacity=".67" d="M-85.333 0h682.67v512h-682.67z"/></clipPath></defs><g clip-path="url(#a)" transform="translate(80) scale(.94)"><g stroke-width="1pt"><path fill="#006" d="M-256 0H768.02v512.01H-256z"/><path fill="#fff" d="M-256 0v57.244l909.535 454.768H768.02V454.77L-141.515 0H-256zM768.02 0v57.243L-141.515 512.01H-256v-57.243L653.535 0H768.02z"/><path fill="#fff" d="M170.675 0v512.01h170.67V0h-170.67zM-256 170.67v170.67H768.02V170.67H-256z"/><path fill="#c00" d="M-256 204.804v102.402H768.02V204.804H-256zM204.81 0v512.01h102.4V0h-102.4zM-256 512.01L85.34 341.34h76.324l-341.34 170.67H-256zM-256 0L85.34 170.67H9.016L-256 38.164V0zm606.356 170.67L691.696 0h76.324L426.68 170.67h-76.324zM768.02 512.01L426.68 341.34h76.324L768.02 473.848v38.162z"/></g></g></svg>
			
				<span class="l-ml2">Anglais</span>
			</p>
		</div>

	</div>
</div>
