.presentation-section ul {
  padding: 0;
}

.presentation-section li {
  list-style: none;
}

.presentation-me-item p {
  margin-bottom: 10px;
  margin-top: 0;
}

.presentation-social a {
  text-decoration: none;
}