.presentation-box {
  flex-wrap: wrap;
  justify-content: center;
}

@include emix-breakpoint (600px) {
  .presentation-box {
    flex-wrap: nowrap;
  }
}

@include emix-breakpoint (600px) {
  .presentation-wrapper {
    background-image: url('../img/bg7.jpg');
    background-size: cover;
    height: 100vh;
    min-height: 640px;
    max-height: 900px;
    display: flex;
    flex-wrap: wrap;
  }
}