.presentation-box {
  flex-wrap: wrap;
  justify-content: center;
}

@include emix-breakpoint (600px) {

  .presentation-box {
    flex-wrap: nowrap;
  }

  // I HATE CSS
  .presentation-picture {
    ul {
      position: relative;
      top: -70px;
    }
  }

}


@include emix-breakpoint (600px) {
  .presentation-wrapper {
    // background-image: url('../img/bg.jpg');
    background-size: cover;
    height: 100vh;
    min-height: 640px;
    max-height: 900px;
    display: flex;
    flex-wrap: wrap;
  }
}