@import "./_presentation-reset.scss";

.presentation-section {
  margin-top: 100px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.presentation-box {
  display: flex;
  align-self: center;
  padding: $gutters*2 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.presentation-me {
  width: 100%;
}

.presentation-box div:last-child {
  margin-left: 20px;
}

.presentation-picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.presentation-picture-wrapper {
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 250px;
}

.presentation-me-item {
  padding: 10px;
  &:nth-child(2n) {
    background-color: hsl(187, 18%, 97%);
  }
}

.presentation-me-item-title {
  font-weight: bold;
  color: $blue;
}

.presentation-social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: $blue;
  background-image: linear-gradient(0deg, hsl(187, 58%, 45%) 0%, hsl(177, 58%, 55%) 100%);
}

.presentation-social svg {
  fill: #fff;
}

.presentation-social-link:not(first-child) {
  margin-left: 30px;
}

.presentation-box {
  flex-wrap: wrap;
  justify-content: center;
}

@include emix-breakpoint (600px) {

  .presentation-box {
    flex-wrap: nowrap;
  }

  // I HATE CSS
  .presentation-picture {
    ul {
      position: relative;
      top: -70px;
    }
  }

}


@include emix-breakpoint (600px) {
  .presentation-wrapper {
    background-image: url(./img/bg.jpg);
    background-size: cover;
    height: 100vh;
    min-height: 700px;
    max-height: 900px;
    display: flex;
    flex-wrap: wrap;
  }
}