@import "./_presentation-reset.scss";

.presentation-section {
  padding-top: 100px;
}

.presentation-box {
  display: flex;
  align-self: center;
}

.presentation-me {
  width: 100%;
}

.presentation-box div:last-child {
  margin-left: 20px;
}

.presentation-picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.presentation-picture-wrapper {
  height: 250px;
  width: 250px;
  overflow: hidden;
}

.presentation-picture-item {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 0.8em;
}

.presentation-me-item {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.presentation-me-item-title {
  font-weight: bold;
  color: $blue;
}

.presentation-social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: $blue;
}

.presentation-social svg {
  fill: #fff;
}

.presentation-social-link:not(first-child) {
  margin-left: 30px;
}

@import "./_presentation-responsive.scss";