.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  font-size: 30px;
}

.icon-github { fill: #fff; }
.icon-twitter { fill: #55acee; }
.icon-facebook { fill: #3b5998 }
.icon-linkedin { fill: red }

.title {
  text-align: center;
}