/* GENERAL */
$blue: #30a7b7;

$title_color : #283c4f;
$color : #444444;
$accent_color: #25828f;

$background_color-grey: #ebebeb;
$background_color-blue: #30a7b7;

// Header
$header_title_color: #E3F2FD;

// Footer
$footer_backgroundColor: #31485e;

$p_light : #777777;