/* GENERAL */
$blue: #30a7b7;
// autre bleu : 3498db
$title_color : #283c4f;
$color : #444444;
$accent_color: lighten(#25828f, 10%);

$background_color-grey: #ebebeb;
$background_color-blue: #30a7b7;

// Header
$header_title_color: #E3F2FD;

// Footer
$footer_backgroundColor: #171B23;
$footer_backgroundColor2: #14181E;

$p_light : #777777;