$tophar_h: 80px;

$blue: hsl(187, 58%, 45%);
// autre bleu : 3498db

$gutters: 8px;

/**
 * Text colors
 */
$color: hsl(0, 0%, 23%);
$color-light: hsl(0, 0%, 30%);
$dark-color: hsl(0, 0%, 19%);

$accent_color: lighten(#25828f, 10%);


$background_color-grey: #ebebeb;
$background_color-blue: #30a7b7;

// Header
$header_title_color: #E3F2FD;

// Footer
$footer_background-color: hsl(220, 21%, 11%);
$footer_background-color2: hsl(220, 21%, 10%);

$footer_title_color: hsl(220, 21%, 39%);
$footer_p_color: hsl(220, 21%, 80%);
$footer_p_light_color: hsl(220, 21%, 85%);

$box-shadow: 0px 2px 4px rgba(0,0,0,0.18);

/**
* title with classes, ex :
* h1 .h1
*/
$h1Size: 2.5rem;
$h2Size: 2rem;
$h3Size: 1.75rem;
$h4Size: 1.5rem;
$h5Size: 1.25rem;
$h6Size: 1rem;

/**
* Displays, ex: .display1
*/

$display1Size: 3.7rem;
$display2Size: 3.4rem;
$display3Size: 3.1rem;
$display4Size: 2.8rem;