@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@import "./_settings.scss";

@import "./helpers/_breakpoints.scss";
@import "./tooltip/_tooltip.scss";

@import "./_app.scss";
@import "./topbar/topbar.scss";
@import "./presentation/presentation.scss";
@import "./layout/_layout.scss";
@import "./about/_about.scss";
@import "./advantages/_advantages.scss";
@import "./skills/_skills.scss";

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  // background-color: #F9F9FC;
  background-color: #f1f4f5;
  margin: 0;
  padding: 0;
  color: darken(#444, 8%);
}

h1, h2, h3, h4, h5 {
  margin: .4em 0;
  font-weight: 400;
  line-height: 1;
  color: #384455;
  // color: #323D62;
}

a {
  color: inherit;
}
