//$main-text: #7f8c97; // main text

$color-1: #303e49;
$color-2: #c03b44;
$color-3: #fff;
$color-4: #75ce66;
$color-5: #f0ca45;

.timeline {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  margin: 2em 0;

  text-align: justify;

  // &:first-child {
  //   margin-top: 0;
  // }

  // &:last-child {
  //   margin-bottom: 0;
  // }
}

.timeline-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

// The vertical line
.timeline-wrapper::before {
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  background: darken($background_color-grey, 5%);
}

.timeline-box {
  display: flex;
}

.timeline-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  left: -10px;
  background-color: #75ce66;
}

.timeline-box-body {
  position: relative;
  top: -15px; // icon "boule" /2 pour centrer
  left: 10px; // pour espacer "shame css"
  padding: 20px;
  background: $color-3;
  box-shadow: 0 3px 0 darken($background_color-grey, 5%);

  // Small arrow
  &::before {
    width: 0;
    height: 0;
    position: absolute;
    top: 16px;
    right: 100%;
    content: '';
    border: 13px solid transparent;
  }

  // Arrow at left by default
  &::before {
    right: 100%;
    left: auto;
    border-color: transparent;
    border-right-color: #fff;
  }
}

.timeline-box-title {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: .5em;
}

.timeline-box-description {
  margin: 0;
}

.timeline-box-date {
  display: block;
  margin-top: 15px;
  color: $accent_color;
  font-weight: 700;
}

@import "./_timeline-responsive.scss";
@import "./_timeline-animations.scss";
