.timeline {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  margin: 2em 0;

  // &:first-child {
  //   margin-top: 0;
  // }

  // &:last-child {
  //   margin-bottom: 0;
  // }
}

.timeline-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

// The vertical line
.timeline-wrapper::before {
  content: '';
  width: 3px;
  height: 100%;
  position: absolute;
  background: darken($background_color-grey, 5%);
}

.timeline-box {
  display: flex;
}

$icon-dimension: 30px;

.timeline-icon {
  width: $icon-dimension;
  height: $icon-dimension;
  border-radius: 50%;
  position: relative;
  left: -10px;
  background-color: lighten($blue, 5%);
}

.timeline-box-body {
  position: relative;
  top: -$icon-dimension/2; // icon "boule" /2 pour centrer
  left: 10px; // pour espacer "shame css"
  padding: 20px;
  background: #fff;
  box-shadow: 0 3px 2px darken($background_color-grey, 5%);

  // Small arrow
  &::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 16px;
    right: 100%;
    border: 13px solid transparent;
  }

  // Arrow at left by default
  &::before {
    right: 100%;
    left: auto;
    border-color: transparent;
    border-right-color: #fff;
  }
}

.timeline-box-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: .8em;
}

.timeline-box-description {
  margin: 0;
  line-height: 1.4em;
  text-align: justify;
}

.timeline-box-date {
  display: block;
  margin-top: 15px;
  color: hsl(0, 0%, 50%);
}

@import "./_timeline-responsive.scss";
@import "./_timeline-animations.scss";
