@import "./_timeline-animations.scss";

.timeline-box {
  justify-content: flex-start;
  margin-top: 30px;
}

.timeline-box:first-child {
  margin-top: 0;
}

.timeline-box-body {
  flex-basis: 100%;
}

@include emix-breakpoint (S) {

  // To center the vertical line
  .timeline-wrapper {
    justify-content: center;
  }

  .timeline-box {
    justify-content: flex-end;
  }

  .timeline-box-body {
    flex-basis: 45%;
  }

  .timeline-icon {
    // Center it on the vertical line (which are in the middle)
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  // Une box à gauche / une à droite avec la flèche qui suit
  .timeline-box:nth-child(even) {
    justify-content: flex-start;
  }

  .timeline-box:nth-child(even) {
    .timeline-box-body::before {
      left: 100%;
      border-color: transparent;
      border-left-color: #fff;
    }
  }

}
