$translateX: 50px;

.timeline-box-body {
  opacity: 0;
  transform: translateX($translateX);
  transition: transform 0.4s, opacity 0.4s;
}

.timeline-box:nth-child(even) .timeline-box-body {
  transform: translateX(-$translateX);
}

.timeline-icon {
  opacity: 0;
  transition: .3s opacity;
}

.timeline-box.show {

  .timeline-icon {
    animation-name: emix;
    animation-delay: .3s;
    opacity: 1;
  }

  .timeline-box-body {
    opacity: 1;
    transform: translateX(0);
  }

}

@keyframes emix {
  from {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}