@include emix-breakpoint (600px) {

  // Animation pour le stick

  .topbar {
    position: absolute;
    top: 0;
    height: $tophar_h;
    background-color: transparent;
    transition: .3s background-color;
  }

  .topbar--stick {
    background-color: #fff;
    height: 70px;
    position: fixed;
    top: 0;

    .topbar-link.active {
      color: $blue;
    }

    .topbar-link {
      color: $color;
    }

    .topbar-link.active::before {
      border-color: #fff;
    }
  }

  .topbar-link {
    position: relative;
    transition: .3s color;
    font-weight: 700;
  }

  .topbar-link:hover::before {
    transform: scaleX(1);
  }
}