@import "./_topbar-responsive.scss";
@import "./_topbar-reset.scss";

.topbar {
  color: #fff;
  display: flex;
  width: 100%;
}

.topbar-background {
  // background-image: url('../img/bg.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  min-height: 640px;
  max-height: 900px;
  position: absolute;
  z-index: -1;
}

.topbar-navigation, .topbar-menu {
  display: flex;
  align-items: center;
}

.topbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid;
    border-color: #fff;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
  }

  &.active {
    color: lighten($blue, 10%);
  }

  &.active::before {
    border-color: $blue;
    transform: scaleX(1);
  }
}

@import "./_topbar-animation.scss";