@import "../helpers/_breakpoints.scss";
@import "./_topbar-responsive.scss";
@import "./_topbar-reset.scss";

.topbar {
  color: #fff;
  display: flex;
  width: 100%;
}

.topbar-background {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  min-height: 640px;
  max-height: 900px;
  position: absolute;
  z-index: -1;
}

.topbar-navigation, .topbar-menu {
  display: flex;
  align-items: center;
}

.topbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
}

@import "./_topbar-animation.scss";