@import "../sass/_settings.scss";

@import "../sass/helpers/_breakpoints.scss";
@import "../sass/tooltip/_tooltip.scss";
@import "../sass/_app.scss";

@import "../sass/topbar/topbar.scss";
@import "../sass/presentation/presentation.scss";
@import "../sass/layout/_layout.scss";
@import "../sass/about/_about.scss";
@import "../sass/advantages/_advantages.scss";
@import "../sass/skills/_skills.scss";
@import "../sass/creations/_creations.scss";
@import "../sass/timeline/_timeline.scss";

body {
  background-color: hsl(240, 40%, 98%);
}
