.grid a {
	max-width: 250px!important;
	color: #333;
}


.grid figure {
	position: relative;
	overflow: hidden;
	margin: 5px;
	background: #333;
}

.grid figure img {
	position: relative;
	display: block;
	width: 100%;
	filter: grayscale(1);
	// opacity: 0.7;
	transition: filter 0.3s;
}

.grid figcaption {
	position: absolute;
	top: 0;
	z-index: 11;
	padding: 10px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.grid svg {
	position: absolute;
	top: -1px; /* fixes rendering issue in FF */
	z-index: 10;
	width: 100%;
	height: 100%;
}

.grid svg path {
	fill: #fff;
}


.grid figcaption h2 {
	margin: 0 0 20px 0;
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 130%;
	transition: transform 0.3s;
}

.grid figcaption p {
	padding: 0 20px;
	color: #aaa;
	font-weight: 300;
	transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption h2,
.grid figcaption p {
	transform: translateY(50px);
}


.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
	backface-visibility: hidden;
}

/* Animations */

.grid a:hover {
	figure img {
		filter: grayscale(0);
	}

	figcaption h2,
	figcaption p {
		transform: translateY(0);
	}

	figcaption p {
		opacity: 0;
	}

	figure button {
		transform: translateY(0);
	}
}

.grid figure button {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;

	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	transition: opacity 0.3s, transform 0.3s;

	border: none;
	color: #333;
	background: #fff;

  transform: translateY(100%);
}