@import "../_variables";

.presentation-picture,
.presentation-profile {
  width: 50%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

.presentation {
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    margin-top: 10px;
    list-style: none;
    &::after {
      display: block;
      height: 1px;
      position: relative;
      top: 5px;
      content: '';
      background-color: #eee;
    }
  }
  .first {
    margin-top: 0;
  }
  span {
    font-weight: bold;
    color: $accent_color;
  }
  a {
    color: inherit;
    text-decoration: none;
    border-color: transparent;
    border-bottom: 1px solid;
    transition: .3s border-color;
    &:hover {
      border-color: $color;
    }
  }
}

.presentation-picture {
  height: 200px;
  background-image: url('../../img/me2.jpg');
}
