@import "../_variables";

.presentation-picture,
.presentation-profile
{
    float: left;

    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.presentation
{
    ul
    {
        margin: 0; padding: 0;
    }
    li
    {
        margin-top: 10px;

        list-style: none;
        &::after
        {
            position: relative;
            top: 5px;

            display: block;

            height: 1px;

            content: '';

            background-color: #eee;
        }
    }
    .first
    {
        margin-top: 0;
    }
    span
    {
        font-weight: bold;

        color: $accent_color;
    }
    a
    {
        transition: .3s border-color;
        text-decoration: none;

        color: inherit;
        border-color: transparent;
        border-bottom: 1px solid;
        &:hover
        {
            border-color: $color;
        }
    }
}

.presentation-picture
{
    height: 200px;

    background-image: url('../../img/me2.jpg');
}
