@import "../responsive/mixinResponsive";

.box-title.no-padding {
  padding-bottom: 0;
}

.skill-box {
  margin-top: 30px;
  text-align: center;
  img {
    width: 150px;
    margin-top: 5px;
  }
}

.skill-box__title {
  position: relative;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}

.skill-box__title::after {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  transform-origin: 0;
}

$percents : (
  ten: 0.1,
  twenty: 0.2,
  thirty: 0.3,
  forty: 0.4,
  fifty: 0.5,
  sixty: 0.6,
  seventy: 0.7,
  eighty: 0.8,
  ninety: 0.9,
  full: 1
);
$skills : (
  html: (background-color: #ff8c4b, border-color: #ff8c4b),
  js: (background-color: #ebc217, border-color: #ebc217),
  php: (background-color: #6082bb, border-color: #6082bb),
  laravel: (background-color: #e74430, border-color: #e74430),
  symfony: (background-color: #7aba20, border-color: #7aba20),
);

.skill-box__container {
  height: 130px;
  background-color: #fff!important;
  border-style: solid;
  border-width: 1px;
}

@each $skill, $property in $skills {
  .#{$skill} {
    @each $p, $value in $property {
      @if($p == background-color) { #{$p} : #{$value}; }
      @if($p == border-color) { #{$p} : #{$value}; }
    }
  }
  .#{$skill}::after {
    @each $p, $value in $property {
      @if($p == background-color) { #{$p} : darken($value, 10%) }
    }
  }
}

@each $percent, $value in $percents {
  .#{$percent}::after {
    transform: scaleX($value);
  }
  @include emix-breakpoint(M) {
    .hidden .#{$percent}::after {
      transform: scaleX(0);
    }
  }
}

.skill-box {
  @include span(12);
}

@include emix-breakpoint(M) {
  .skill-box {
    @include span(6);
  }
}

@include emix-breakpoint(L) {
  .skill-box {
    @include span(4);
  }
  .skill-box-push {
    transform: translateX(100%);
  }
}