// colors
@import "../responsive/_mixinResponsive";

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #F5F5F5; // body background color

$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #ffffff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

.bg-timeline {
  background-color: #F5F5F5;
}

/* Animations : */
.cd-timeline {
  .cd-timeline_content {
    transform: translateX(0px);
    opacity: 1;
    transition: transform 0.4s, opacity 0.4s;
  }
  .cd-timeline_icon {
    animation-duration: 0.4s;
    animation-name: emix;
  }
}

.cd-timeline.hidden {
  .cd-timeline_content {
    transform: translateX(50px);
    opacity: 0;
  }
}

@keyframes emix {
from {
    transform: scale(0);
    opacity: 0;
  }
50% {
  transform: scale(1.5);
  opacity: 0.5;
  }

to {
  transform: scale(1);
  opacity: 1;
  }
}

/* Fin animations */

.site-container-timeline {
  &::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: darken($background, 5%);
  }
}

@include emix-breakpoint(L) {
  .site-container-timeline {
    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
}

.cd-timeline {
  position: relative;
  width: 100%;
  margin: 2em 0;

  content: '';
  display: table;
  clear: both;

  &:first-child { margin-top: 0; }

  &:last-child { margin-bottom: 0; }
}

@include emix-breakpoint(M) {
  .cd-timeline {
    margin: 4em 0;
    &:first-child { margin-top: 0; }

    &:last-child { margin-bottom: 0; }
  }
}

.cd-timeline_icon {
  position: absolute;
  top: 0;
  left: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $color-4;
}

@include emix-breakpoint (L) {
  .cd-timeline_icon {
    left: 50%;
    margin-left: -15px;
  }
}


.cd-timeline_content {
  position: relative;
  width: 100%;
  margin-left: 60px;
  background: $color-3;
  padding: 1em;
  box-shadow: 0 3px 0 darken($background, 5%);

  content: '';
  display: table;
  clear: both; // Clearfix car contient des élements en float left !

  .cd-date { display: inline-block; }

  .cd-date {
    float: left;
    opacity: .7;
  }

  &::before { // La petite flèche
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
  }
}



// Système de 1 à droite, 1 à gauche lorsqu'on est sur du LARGE
@include emix-breakpoint (L) {
  .cd-timeline_content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;

    &::before {
      left: 100%;
      border-color: transparent;
      border-left-color: $color-3;
    }

    .cd-date {
      position: absolute;
      width: 100%;
      left: 118%;
      top: 6px;
      font-size: 16px;
    }

    .cd-timeline:nth-child(even) & { // Un sur 2 sera à droite, C'EST QUOI LE & !!!!!!!!!
      float: right;

      &::before {
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: $color-3;
      }
      .cd-date {
        left: auto;
        right: 118%;
        text-align: right;
      }
    }
  }
}
