@import "../variables";
@import "../responsive/_mixinResponsive";
//$main-text: #7f8c97; // main text

$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #fff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

.bg-timeline {
  background-color: $background_color-grey;
  .site-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* Animations : */
.cd-timeline {
  .cd-timeline_content {
    opacity: 1;
    transition: transform 0.4s, opacity 0.4s;
    transform: translateX(0px);
  }
  .cd-timeline_icon {
    animation-name: emix;
    animation-duration: 0.4s;
  }
}

.cd-timeline-title {
  font-size: 1.7rem;
  font-weight: 700;
}

.cd-timeline.hidden {
  .cd-timeline_content {
    opacity: 0;
    transform: translateX(50px);
  }
}

@keyframes emix {
  from {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Fin animations */

.site-container-timeline {
  &::before {
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 18px;
    /* this is the vertical line */
    content: '';
    background: darken($background_color-grey, 5%);
  }
}

@include emix-breakpoint(L) {
  .site-container-timeline {
    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
}

.cd-timeline {
  display: table;
  width: 100%;
  position: relative;
  margin: 2em 0;
  clear: both;
  content: '';

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@include emix-breakpoint(M) {
  .cd-timeline {
    margin: 4em 0;
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cd-timeline_icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 4px;
  background: $color-4;
  border-radius: 50%;
}

@include emix-breakpoint (L) {
  .cd-timeline_icon {
    left: 50%;
    margin-left: -15px;
  }
}


.cd-timeline_content {
  display: table;
  position: relative;
  padding: 1em;
  margin-right: 7.5px; // TODO: à mettre la référence vers $susy gutters de _mixinResponsive
  margin-left: 60px;
  clear: both; // Clearfix car contient des élements en float left !
  content: '';
  background: $color-3;
  box-shadow: 0 3px 0 darken($background_color-grey, 5%);

  .cd-date {
    display: inline-block;
  }

  .cd-date {
    float: left;
    opacity: 0.7;
  }

  &::before {
    width: 0;
    height: 0;
    position: absolute;
    top: 16px;
    right: 100%;
    // La petite flèche
    content: '';
    border: 7px solid transparent;
  }
}



// Système de 1 à droite, 1 à gauche lorsqu'on est sur du LARGE
@include emix-breakpoint (L) {
  .cd-timeline_content {
    width: 45%;
    padding: 1.6em;
    margin-left: 0;

    &::before {
      left: 100%;
      border-color: transparent;
      border-left-color: $color-3;
    }

    .cd-date {
      width: 100%;
      position: absolute;
      top: 6px;
      left: 118%;
      font-size: 16px;
    }

    .cd-timeline:nth-child(even) & {
      // Un sur 2 sera à droite, C'EST QUOI LE & !!!!!!!!!
      float: right;

      &::before {
        right: 100%;
        left: auto;
        border-color: transparent;
        border-right-color: $color-3;
      }
      .cd-date {
        right: 118%;
        left: auto;
        text-align: right;
      }
    }
  }
}
