@import "../../sass/variables";
@import "../../sass/responsive/mixinResponsive";

a {
  color: inherit;
  text-decoration: none;
}

/** 
* Button animated :
*/

.back-animated-scale {
  position: relative;
  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    background-color: $header_li_animate_background-color;
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transform: scaleX(0.5);
  }
  &:hover::before {
    opacity: 1;
    transform: scaleX(1);
  }
}

$topbar-li_height: 50px;

/**
* TOPBAR  
*/

/**
* SMALL SCREEN < 768px
*/

.topbar-trigger {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 999;
  color: #fff;
  background-color: darken($header_bgc, 15%);
  border-radius: 100%;
  outline: 0;
  &::after {
    display: block;
    width: 18px;
    position: absolute;
    top: 8px;
    left: 17px;
    content: '';
    box-shadow: 0 10px 0 1px, 0 16px 0 1px, 0 22px 0 1px;
  }
}

.topbar-menu {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: $header_bgc;
  transform: translateY(100%); // hidden by default
}

.menu-opened {
  .topbar-menu {
    transform: translateY(0);
  }
  .topbar-trigger {
    transform: translateY( - $topbar-li_height * 5); // height of .topbar-menu
    // height of one li * number li (here 5)
  }
}

.topbar-li {
  border-top: 1px solid rgba(255,255,255,0.05);
  border-bottom: 1px solid darken($header_bgc, 10%);
}

.topbar {
  width: 100%;
  height: $header_h;
  line-height: $header_h;
  text-align: center;
  background-color: $header_bgc;
  transition-duration: 0.3s;
  transition-property: background-color;
  //box-shadow: 0px 4px 15px 0px rgba(0,0,0,.35);
  ul {
    padding: 0;
    margin: 0;
  }
  li a {
    display: block; // to display all width and height of li
    z-index: 999;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.topbar-title {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 25px;
  color: $header_title_color;
  border-right: 1px solid darken($header_bgc, 8);
}

.topbar-title, .topbar-li {
  font-size: 20px;
  font-weight: 300;
  color: $header_link_color;
  text-transform: uppercase;
  transition-duration: 0.3s;
  transition-property: color;
}


.topbar-li {
  height: $topbar-li_height;
  line-height: $topbar-li_height;
  list-style: none;
}

.topbar-left {
  float: left;
}

.topbar-title {
  display: inline-block;
}

/* RESPONSIVE  */

@include emix-breakpoint(M) {
  .topbar {
    position: fixed;
    top: 0;
    z-index: 999;
  }
  .topbar-menu {
    height: 100%;
    float: left;
    position: initial;
    line-height: $header_h;
    transform: none;
    background-color: transparent;
  }
  .topbar-trigger {
    display: none;
  }
  .topbar-title {
    float: left;
  }
  .topbar-ul {
    height: 100%;
  }
  .topbar-li {
    display: inline-block;
    height: 100%;
    line-height: $header_h;
    border: none;
  }
  .first {
    border-top: none;
  }
}

.fake {
  width: 100%;
  height: $header_h;
}

.animated-scroll {
  background-color: rgba(darken($header_bgc, 10%), 0.8);
}
