@mixin headings {
  h1, h2, h3,
  h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    @content;
  }
}

h1, h2, h3,
h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @extend %headings !optional;
}

.title, %headings {
  color: $dark-color;
  font-weight: 700;
}

h1, .h1 {
  font-size: $h1Size;
  letter-spacing: -.02em;
}

h2, .h2 {
  font-size: $h2Size;
  letter-spacing: -.01em;
}

h3, .h3 {
  font-size: $h3Size;
  letter-spacing: -.01em;
  font-weight: 600;
}

h4, .h4 {
  letter-spacing: -.01em;
  font-size: $h4Size;
}

h5, .h5 {
  letter-spacing: -.01em;
  font-size: $h5Size;
}

h6, .h6 {
  font-size: $h6Size;
}


.display-1 {
  font-size: $display1Size;
  line-height: 1.1;
}

.display-2 {
  font-size: $display2Size;
  line-height: 1.1;
}

.display-3 {
  font-size: $display3Size;
  line-height: 1.1;
}

.display-4 {
  font-size: $display4Size;
  line-height: 1.1;
}