@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import './_headings.scss';
@import './skills/_skills.scss';
@import './layout/_margin.sass';
@import './flexbox.scss';

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: darken(#444, 8%);
}

.strong {
  font-weight: 700;
}

.not-strong {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.ul-reset {
  padding: 0;
}

.li-reset {
  list-style: none;
  & li {
    list-style: none;
  }
}
