@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@import "../sass/_settings.scss";

@import "../sass/helpers/_breakpoints.scss";
@import "../sass/tooltip/_tooltip.scss";

@import "../sass/_app.scss";
@import "../sass/topbar/topbar.scss";
@import "../sass/presentation/presentation.scss";
@import "../sass/layout/_layout.scss";
@import "../sass/about/_about.scss";
@import "../sass/advantages/_advantages.scss";
@import "../sass/skills/_skills.scss";
@import "../sass/creations/_creations.scss";
@import "../sass/timeline/_timeline.scss";

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  // background-color: #F9F9FC;
  background-color: #f1f4f5;
  margin: 0;
  padding: 0;
  color: darken(#444, 8%);
}

h1, h2, h3, h4, h5 {
  margin: .4em 0;
  font-weight: 400;
  line-height: 1;
  color: #384455;
  // color: #323D62;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

@include emix-breakpoint ($small) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1rem;
  }
}

a {
  color: inherit;
}