<footer class="l-footer">
	<div class="l-footer-container l-container l-container--small">

		<p class="pre-title">Vous êtes intéressé par mon profil ? Une question ? Contactez-moi !</p>
		<h3 class="h4 text-center">La passion du web par un jeune qui ne demande qu'à évoluer.</h3>

		<div class="l-footer-wrapper">

			<div class="l-footer-box l-wrapper l-footer-me">
				<p class="l-footer-box-title">Maxime Moreau</p>
				<address>
					Hauts-de-France (62)
				</address>
				<p>Étudiant IUT du Littoral Côte d'Opale à Calais </p>
				<a href="mailto:contact@maxime-moreau.fr">contact@maxime-moreau.fr</a>
			</div>

			<div class="l-footer-box l-wrapper l-footer-social">
				<p class="l-footer-box-title">Retrouvez-moi</p>
				<ul>
					<li>
						<a href="https://github.com/EmixMaxime">Github</a>
					</li>
					<li>
						<a href="https://twitter.com/EmixMaxime">Twitter</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/moreau-maxime">Linkedin</a>
					</li>
				</ul>
			</div>

			<div class="l-footer-box l-wrapper l-footer-dev">
				<p class="l-footer-box-title">En bref</p>
				<p>
					Pasionné par les nouvelles technologies web tout en étant polyvalent et ouvert d'esprit. Autodidacte avec des projets ambitieux
					dont
					<a href="https://mxteaches.me">mxteaches.me</a>
				</p>
			</div>

		</div>
	</div>
	<div class="l-footer-copyright">
		<p>
			Code source du site disponible sur
			<a href="https://github.com/EmixMaxime/maxime-moreau.fr">github</a>, ça vaut le coup d'œil !
			<br /> Maxime Moreau - 2018
		</p>
	</div>
</footer>