{% import 'macros/timeline.twig' as helpers %}
<section class="l-section">
    <div class="l-container">
        <h1 class="h2 text-center">Mon parcours</h1>
    
        <div class="timeline-wrapper">

            <div class="timeline" id="timeline">
                {% for t in data.timeline %}
                    {{ helpers.timeline(
                        t.title,
                        t.description,
                        t.time
                    )}}
                {% endfor %}
            </div>
        
        </div>
    </div>
</section>
