$color : darken(#30a7b7, 10%);

input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0 1000px $header_bgc inset;
}

form {
	textarea {
		resize: none;
		width: 100%;
		height: 100px!important;
		border: none;
		background-color: $color!important;
		padding: 8px!important;
		font-family: inherit;
		margin-top: 10px;
	}
}

.field-submit {
	width: 150px;
	border: none;
	background-color: $color;
	padding: 10px;
	position: relative;
	z-index: 1;

	color: #fff;
	font-size: 16px;

	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition: 0.3s color;
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		z-index: -1;
		position: absolute; top: 0; left: 0;
		background-color: darken($color, 10%);
		opacity: 0;

		transform: scaleX(0.5);
		transition: transform 0.4s, opacity 0.4s;
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	}

	&:hover::before {
		opacity: 1;
		transform: scaleX(1);
	}
}

.field-animated {
	position: relative; // pour pouvoir mettre des positions absolutes à l'intérieur
	height: 72px;
	padding: 16px 0 8px 0;
}

.field {
	margin-bottom: 20px;
}

.field-label {
	display: block;

	color: #fff;
	line-height: 16px;
	font-size: 16px;
	font-weight: 400;
	transform: translateY(24px); // au début, le label est dans l'input (effet de placeholder)
	//transition: transform 0.3s, font-size 0.3s;
	transition-property: font-size, transform;
	transition-duration: 0.3s;

	position: relative; // pour pouvoir cliquer sur l'input malgré le label ! mettre label avant input
}

.field-input {
	position: relative; // pour pouvoir cliquer sur l'input malgré le label
	display: block;
	width: 100%;
	height: 32px;
	padding: 8px 0;

	line-height: 16px;
	color: darken($color, 15%);

	background-color: transparent;
	border: none;
	-webkit-appearance: none; // Sur IOS mise en place de shadow, on enlève grâce à ça.
	outline: none;// pour enlever le survole bleu des navigateurs
}

.field-input:focus {
	outline: none; // pour enlever le survole bleu des navigateurs
}

.field-animated::after, .field-animated::before {
	content : '';
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: 6px;
	left: 0;
	background-color: #e7e7e7;
}

.field::after {
	background-color: $color;
	transform: scaleX(0);
	//transition: transform 0.3s;
	transition-property: transform;
	transition-duration: 0.3s;

}

.has-label .field-label {
	transform : translateY(0);
}
.is-focused .field-label {
	font-size: 14px;
	color: $color;
}

.field.is-focused::after{
	transform: scaleX(1);
}