//mixin tooltip(name, url)
//    span.tooltip
//        span.tooltip-item
//            a.link(href=url target="_blank")= name
//        span.tooltip-content
//            block

// Je passe un contenu, et le contenu est affiché que lorsque le target (paramètre) est "hoveridé"
mixin tooltip(content)
    span.tooltip
        span.tooltip-item
            block
        span.tooltip-content(data-type=attributes.type)=content