<section class="cm">
    <h1 class="section-title cm-title">Community involvement</h1>
    <ol class="l-subcontent">
        <li>
        <p class="h5">Tutor for beginners</h3>
        <ul>
            <li>
            <span class="strong">Helped</span> beginners in HTML/CSS, JavaScript, and the C language using mxteaches.me as a support.
            </li>
            <li>
            <span class="strong">Introduced</span> basis algorithms.
            </li>
            <li>
            <span class="strong">Assisted</span> seniors for numeric environments.
            </li>
        </ul>

        </li>
    </ol>
</section>