<section class="hobbies">
    <h1 class="section-title hobbies-title">Loisirs</h1>
    <ol class="l-subcontent">
        <li>
            <ul>
                <li>Veille technologique</li>
                <li>VTT / Tennis de table</li>
            </ul>
        </li>
    </ol>
</section>