.background-blue
    #creations.site-container
        .box-title
            h2.title.white Créations
        .row
            section#grid.grid
                div(data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z")
                    figure
                        img(src=require("../../img/sono_mini.png"))
                        svg(viewBox="0 0 180 320" preserveAspectRatio="none")
                            path(d="M 180,160 0,218 0,0 180,0 z")
                        figcaption
                            h2 Crystalline
                            p Soko radicchio bunya nuts gram dulse.
                            button View

            section#grid.grid
                div(data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z")
                    figure
                        img(src=require("../../img/1.png"))
                        svg(viewBox="0 0 180 320" preserveAspectRatio="none")
                            path(d="M 180,160 0,218 0,0 180,0 z")
                        figcaption
                            h2 Crystalline
                            p Soko radicchio bunya nuts gram dulse.
                            button View
            
            section#grid.grid
                div(data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z")
                    figure
                        img(src=require("../../img/1.png"))
                        svg(viewBox="0 0 180 320" preserveAspectRatio="none")
                            path(d="M 180,160 0,218 0,0 180,0 z")
                        figcaption
                            h2 Crystalline
                            p Soko radicchio bunya nuts gram dulse.
                            button View