.background-blue
    #creations.site-container
        .box-title
            h2.title.white Créations
        .row
            section#grid.grid
                div(data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z", data-ref="one")
                    figure
                        img(src=require("../../img/sono_mini.png"))
                        svg(viewBox="0 0 180 320" preserveAspectRatio="none")
                            path(d="M 180,160 0,218 0,0 180,0 z")
                        figcaption
                            h2 Crystalline
                            p Soko radicchio bunya nuts gram dulse.
                            button View

            section#grid.grid
                div(data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z", data-ref="two")
                    figure
                        img(src=require("../../img/1.png"))
                        svg(viewBox="0 0 180 320" preserveAspectRatio="none")
                            path(d="M 180,160 0,218 0,0 180,0 z")
                        figcaption
                            h2 Crystalline
                            p Soko radicchio bunya nuts gram dulse.
                            button View
            
            section#grid.grid
                div(data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z", data-ref="three")
                    figure
                        img(src=require("../../img/1.png"))
                        svg(viewBox="0 0 180 320" preserveAspectRatio="none")
                            path(d="M 180,160 0,218 0,0 180,0 z")
                        figcaption
                            h2 Crystalline
                            p Soko radicchio bunya nuts gram dulse.
                            button View

        .cd-project-content
            section(data-project="one")
                h2 Hello world ! Project one
                button.close
                    svg(class="icon icon-close")
                        use(xlink:href="#icon-close")
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                    | Illum quaerat asperiores aliquam voluptate saepe omnis porro excepturi in atque veritatis sapiente ipsam voluptates iste amet deserunt ullam error pariatur, magni consectetur optio nostrum minima dolorum. Soluta animi nihil doloremque ipsa incidunt vitae architecto beatae, maxime libero, dolore corporis vero porro tenetur ipsam modi repudiandae magnam enim, quibusdam sit.
                    | Illum quaerat asperiores aliquam voluptate saepe omnis porro excepturi in atque veritatis sapiente ipsam voluptates iste amet deserunt ullam error pariatur, magni consectetur optio nostrum minima dolorum. Soluta animi nihil doloremque ipsa incidunt vitae architecto beatae, maxime libero, dolore corporis vero porro tenetur ipsam modi repudiandae magnam enim, quibusdam sit.

            section(data-project="two")
                h2 Hello world ! Project two
                button.close
                    svg(class="icon icon-close")
                        use(xlink:href="#icon-close")
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                    | Illum quaerat asperiores aliquam voluptate saepe omnis porro excepturi in atque veritatis sapiente ipsam voluptates iste amet deserunt ullam error pariatur, magni consectetur optio nostrum minima dolorum. Soluta animi nihil doloremque ipsa incidunt vitae architecto beatae, maxime libero, dolore corporis vero porro tenetur ipsam modi repudiandae magnam enim, quibusdam sit.
                    | Illum quaerat asperiores aliquam voluptate saepe omnis porro excepturi in atque veritatis sapiente ipsam voluptates iste amet deserunt ullam error pariatur, magni consectetur optio nostrum minima dolorum. Soluta animi nihil doloremque ipsa incidunt vitae architecto beatae, maxime libero, dolore corporis vero porro tenetur ipsam modi repudiandae magnam enim, quibusdam sit.

            section(data-project="three")
                h2 Hello world ! Project three
                button.close
                    svg(class="icon icon-close")
                        use(xlink:href="#icon-close")
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                    | Illum quaerat asperiores aliquam voluptate saepe omnis porro excepturi in atque veritatis sapiente ipsam voluptates iste amet deserunt ullam error pariatur, magni consectetur optio nostrum minima dolorum. Soluta animi nihil doloremque ipsa incidunt vitae architecto beatae, maxime libero, dolore corporis vero porro tenetur ipsam modi repudiandae magnam enim, quibusdam sit.
                    | Illum quaerat asperiores aliquam voluptate saepe omnis porro excepturi in atque veritatis sapiente ipsam voluptates iste amet deserunt ullam error pariatur, magni consectetur optio nostrum minima dolorum. Soluta animi nihil doloremque ipsa incidunt vitae architecto beatae, maxime libero, dolore corporis vero porro tenetur ipsam modi repudiandae magnam enim, quibusdam sit.

