#index.hero
    // à gérer pour les écrans > 1900 px léger bug
    .hero_content
        .hero_welcome
            h1 Maxime moreau
            p.hero-text-sub Un jeune développeur web
        .hero_social
            .box-icon
                include ../linksSocial/twitter
            .box-icon
                include ../linksSocial/github
