include ../helpers/tooltip
.bg-timeline
    .site-container.site-container-timeline
        .cd-timeline
            .cd-timeline_img.cd-picture
                img(src='#lol')
            .cd-timeline_content
                h2 Title
                p Content
                a(href="#", class='cd-read-more') Read more
                span.cd-date 2014
        .cd-timeline
            .cd-timeline_img.cd-picture
                img(src='#lol')
            .cd-timeline_content
                h2 Title
                p Content
                a(href="#", class='cd-read-more') Read more
                span.cd-date 2014
        .cd-timeline
            .cd-timeline_img.cd-picture
                img(src='#lol')
            .cd-timeline_content
                h2 Title
                p Content
                a(href="#", class='cd-read-more') Read more
                span.cd-date 2014
