include ../helpers/tooltip
.bg-timeline
    .site-container.site-container-timeline#timeline
        .cd-timeline
            .cd-timeline_icon
            .cd-timeline_content
                p.cd-timeline-title Découverte
                p
                    | Je m'inscris sur Openclassrooms suite à la recommandation d'un ami étudiant en informatique. J'étais curieux, je voulais savoir comment les sites web sont créés.
                    | Je découvre l'envers du web petit à petit, apprenant les langages HTML5 et CSS3.
                    | Je m'intéresse à tous les domaines informatiques, ma soif d'apprendre grandit petit à petit.
                span.cd-date 2012

        .cd-timeline
            .cd-timeline_icon
            .cd-timeline_content
                p.cd-timeline-title Entrée en 1ère technologique
                p
                    | J'ai découvert ma nouvelle vocation, je souhaite travailler dans le domaine informatique. C'est donc tout naturellement que je choisis de préparer le baccalauréat STI2D option SIN (Système d'Information Numérique).
                    br
                    | Je poursui ma formation autodidacte en apprenant la programmation orientée objet avec PHP ainsi que le framework Laravel.
                span.cd-date 2015

        .cd-timeline
            .cd-timeline_icon
            .cd-timeline_content
                p.cd-timeline-title Obtention du baccalauréat
                p
                    | Et entrée à l'IUT de Calais pour préparer un DUT Informatique.
                    br
                    | Je maîtrise maintenant la programmation orientée objet avec PHP, j'ai également le plaisir de connaître le framework Laravel et j'ai des connaissances vagues sur Symfony2.
                    br
                    | L'année 2016 est consacrée en très grande partie à l'apprentissage de JavaScript (es5 et es6).
                    br
                    | Je maitrîse également divers outils tels que Git, Gulp, et Webpack.
                span.cd-date 2016
