include ../helpers/tooltip
.bg-timeline
    .site-container.site-container-timeline
        .cd-timeline
            .cd-timeline_icon
            .cd-timeline_content
                h2 Title
                p Content
                span.cd-date 2014
        .cd-timeline
            .cd-timeline_icon
            .cd-timeline_content
                h2 Title
                p Content
                span.cd-date 2014
        .cd-timeline
            .cd-timeline_icon
            .cd-timeline_content
                h2 Title
                p Content
                span.cd-date 2014
