include ../helpers/tooltip
.bg-timeline
    .site-container.site-container-timeline
        .cd-timeline
            .cd-timeline_icon
            .cd-timeline_content
                p.cd-timeline-title Découverte
                p
                    | Début de ma formation autodidacte sur
                    +tooltip("Openclassrooms est une plateforme française qui propose divers MOOC's")
                        a.link(href='http://grafikart.fr' target="_blank") Openclassrooms
                    | . Je découvre l'envers du web petit à petit, apprennant les langages HTML/CSS.
                    | Je m'intéresse à tous les domaines informatique, ma soif d'apprendre grandit petit à petit
                span.cd-date 2012
        .cd-timeline
            .cd-timeline_icon
            .cd-timeline_content
                p.cd-timeline-title Entrée en 1ère technologique
                p
                    | J'ai découvert ma nouvelle vocation, je souhaite travailler dans le milieu informatique. C'est donc tout naturellement que je choisis de préparer le baccalauréat STI2D option SIN.
                    | Je poursui ma formation autodidacte en apprennant la programmation orientée objet avec PHP.
                span.cd-date 2015
        .cd-timeline
            .cd-timeline_icon
            .cd-timeline_content
                p.cd-timeline-title Obtention du baccalauréat / entrée en DUT Informatique
                p
                    | Obtention du baccalauréat et entrée en DUT Informatique à Calais.
                    | Je maîtrise maintenant la programmation orientée objet avec PHP et le html/css/javascript, mais également divers outils tel que Git, gulp et webpack...
                span.cd-date 2016
