include ../helpers/tooltip
#presentation.site-container
    .box-title
        h2.title.black Présentation
    .presentation
        .presentation-picture
        .presentation-profile
            ul
                li.first
                    span Hobbies :
                    |  Sport & séries américaines
                li
                    span Séries préférées :
                    a(href="https://fr.wikipedia.org/wiki/Silicon_Valley_(s%C3%A9rie_t%C3%A9l%C3%A9vis%C3%A9e)" target="_blank")  Silicon Valley
                    a(href="https://fr.wikipedia.org/wiki/Mr._Robot_(s%C3%A9rie_t%C3%A9l%C3%A9vis%C3%A9e)" target="_blank") Mr. Robot
                    a(href="https://fr.wikipedia.org/wiki/The_Walking_Dead_(s%C3%A9rie_t%C3%A9l%C3%A9vis%C3%A9e)" target="_blank") The walking dead
                li
                    span Style de musique :
                    |  Reggea, rap us...
    .presentation-text
        p.gray-p.presentation__p
            | Je m'appelle Maxime Moreau, j'ai 17 ans et je suis étudiant en 1ère année de DUT Informatique.
            br
            | Depuis l'âge de 14 ans je m'intéresse au développement web.
            | Depuis cet âge, je jongle entre mes cours scolaires et mon apprentissage autodidacte.
            br
            | Pendant que la plupart des adolescents s'amusaient sur des jeux vidéo, je m'amusais à apprendre comment créer un site web.
            br
            | Je ne cesse de développer et de m'autoformer, grâce à ce merveilleux outil qu'est l'Internet.
            br
            | Voici quelques sites où je me suis formé :
            br

            +tooltip("Grafikart est un site proposant des tutoriels portés sur le développement web, géré par un développeur free-lance qui nous fait découvrir son métier à travers des tutoriels et maintenant des formations pour débutant")
                a.link(href='http://grafikart.fr') Grafikart
            |  
            
            +tooltip("Codeschool est un site Américain, vous apprennez en regardant les vidéos puis vous devez valider vos connaissances avec les challanges, où vous devez mettre en pratique à travers leur éditeur de code en ligne intéractif")
                a.link(href='http://codeschool.com') CodeSchool
            |  

            +tooltip("Openclassrooms la référence des MOOC's français")
                a.link(href='http://openclassrooms.fr') Openclassrooms
