mixin skill(name, img, style)
    .skill-box(class=(name == "laravel" ? "skill-box-push" : ''))
        .skill-box__title(class=(style ? style : name), class=attributes.class)=name
        .skill-box__container(class=(style ? style : name))
            img.skill-box__logo(src=require('../img/'+ img), alt=name, style=attributes.style)

#skills.site-container
    .animated
        .box-title.no-padding
            h2.title.black Compétences

        +skill('html', 'html.png')(class='seventy')
        +skill('Javascript', 'js.png', 'js')(class='seventy')
        +skill('php', 'php.png')(class='ninety')
        +skill('laravel', 'laravel.png')(class='forty', style='margin-top: 10px')