@import "./_about-reset.scss";

.about-wrapper {
  display: flex;
  justify-content: center;
}

.about-personality {
  li {
    line-height: 1.8em;
  }
}

.about-personality-item > span {
  color: $accent_color;
  font-weight: 700;
}

.about-story-p {
  text-align: justify;
  line-height: 1.5em;
}

@import "./_about-responsive.scss";