@import "./_about-reset.scss";

.about-wrapper {
  display: flex;
}

.about-personality {
  flex-basis: 30%;
  li {
    line-height: 1.8em;
  }
}

.about-personality-item > span {
  color: $accent_color;
  font-weight: 700;
}

.about-story {
  flex-basis: 70%;
}

.about-story-p {
  text-align: justify;
  line-height: 1.5em;
}